@page
@model Othello_Web.Pages_OthelloGames.IndexModel

@{
    ViewData["Title"] = "Othello Game";
}

<h1>Games</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Started At
            </th>
            <th>
                Over At
            </th>
            <th>
                P1 Name
            </th>
            <th>
                P1 Type
            </th>
            <th>
                P2 Name
            </th>
            <th>
                P2 Type
            </th>
            <th>
                Option
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OthelloGame) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameOverAt)
            </td>
            <td>
                Continue as:
                <a asp-page="./Play" asp-route-id="@item.Id" asp-route-player="player1">
                    @Html.DisplayFor(modelItem => item.Player1Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Type)
            </td>
            <td>
                    Continue as:
                <a asp-page="./Play" asp-route-id="@item.Id" asp-route-player="player2">
                    @Html.DisplayFor(modelItem => item.Player2Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Type)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.OthelloOption!.Id)*@
                @(item.OthelloOption!.Name)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
