@page
@model Othello_Web.Pages_OthelloOptions.IndexModel

@{
    ViewData["Title"] = "Options";
}

<h1>Options</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Board Width
            </th>
            <th>
                Board Height
            </th>
            <th>
                Starts
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OthelloOption) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPlayer)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
