@page
@model Othello_Web.Pages_OthelloGameStates.IndexModel

@{
    ViewData["Title"] = "Game States";
}

<h1>Game States</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Created At
            </th>
            <th>
                Black Score
            </th>
            <th>
                White Score
            </th>
            <th>
                Winner
            </th>
            <th>
                Game Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OthelloGameState) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhiteScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OthelloGame!.Id)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
